.custom-select {
    position: relative;
    display: inline-block;
    width: 150px;
height: 40px;
border-radius: 8px;
text-align: left;
  }
  
  .selected-option {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  
  .options {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin-top: 4px;
    list-style: none;
    width: 100%;
    z-index: 1;
  }
  
  .options li {
    padding: 8px;
    cursor: pointer;
  }
  
  .options li:hover {
    background-color: #f0f0f0;
  }
  